.best-contest-creator-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.best-contest-creator-slider .swiper-slide-shadow-left,
.best-contest-creator-slider .swiper-slide-shadow-right {
  background-image: unset !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
